<div class="panel-container col-md-6 col-sm-6 col-xs-6">
    <div id="panel-results" class="panel panel-default" data-id="{{id}}">
        <div class="panel-heading">Results</div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Number</th>
                    <th>Bulls</th>
                    <th>Cows</th>
                </tr>
            </thead>
            <tbody>
                {{#guesses}}
                <tr>
                    <th scope="row">{{Try}}</th>
                    <td>{{number}}</td>
                    <td>{{bulls}}</td>
                    <td>{{cows}}</td>
                </tr>
                {{/guesses}}
            </tbody>
        </table>
    </div>
</div>